/* Importação de fonte */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Reset de estilos e configuração de fonte padrão */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #212121; /* Cor de fundo mais escura */
  color: #fff; /* Cor do texto */
}

/* Layout principal */
.container {
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s; /* Transição suave para elementos na página */
}

/* Efeito de desfoque quando o modal está ativo */
.containerDisab {
  filter: blur(4px);
}

/* Estilos para os cards */
.sectionCards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px 0;
}
.sectionCards div {
  flex: 1;
}

/* Estilos para os cards individuais */
.cardValor {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  border-radius: 3px;
}

/* Cores dos cards */
.verde {
  background-color: #4caf50;
}

.vermelho {
  background-color: #f44336;
}

.azul {
  background-color: #1976d2;
}

/* Estilos para a tabela */
table {
  border: 1px solid #444;
  border-collapse: collapse;
  max-width: 992px;
  text-align: left;
  width: 100%;
}
td,
th {
  padding: 10px;
}
tbody tr:nth-child(odd) {
  background-color: #333;
}

/* Estilos para o botão de remover */
.alinhaBtnRemover {
  text-align: right;
}
.btnRemover,
.btn {
  padding: 10px 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.btnRemover {
  background-color: #f44336;
}

.btnRemover:hover {
  background-color: #b71c1c;
}

.btn {
  background-color: #1976d2;
}

.btn:hover {
  background-color: #1565c0;
}

/* Estilos para o botão flutuante de adicionar */
#btnFrom {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #1976d2;
  transition: background-color 0.2s;
}
#btnFrom:hover {
  background-color: #1565c0;
}

/* Estilos para o modal */
.modal {
  display: none;
  position: absolute;
  top: calc(50vh - 128px);
  left: calc(50vw - 130px);
  background-color: #333;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 260px;
  padding: 20px;
  transition: 0.2s;
}
.modalAtivado {
  display: block;
}

/* Estilos para os elementos dentro do modal */
.modal label {
  opacity: 0.8;
  font-size: 0.8rem;
}
.inputDeCampo input {
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  width: 100%;
  background-color: #444;
  color: #fff;
}
.inputDeCampo input:focus {
  outline: none;
}
.inputsRadio {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.inputsRadio div {
  display: flex;
  align-items: center;
  gap: 3px;
}
.grupoBtn {
  display: flex;
  justify-content: space-around;
}
